{% extends "base.html" %}

{% block content %}
<h1 class="title" style="margin-top: -10vh;">
  Welcome, {{name}}
</h1>
<form method="post" action="/profile" enctype="multipart/form-data">
  <input type="file" name="input" accept=".mp3">
  <button type="submit">convert</button>
</form>
{%if o %}
<video width="320" height="240" controls style="margin-top: 10vh;">
  <source src="{{url_for('static',filename='file/'+o)}}" type="video/mp4">
</video><br>
<a href="{{url_for('main.down',paths=o)}}" target="blank"><button class="button is-danger">Download</button></a>

{%endif%}


{% endblock %}